*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body{
    background-image: linear-gradient(#111,#222222);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    width: 80%;
    height: 80%;
    background-color: rgba(255,255,255,0.1);
    border-radius: 20px;
    overflow: hidden;
}
body::after{
    content: '' ;
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
    z-index: -1;
    clip-path: circle(30% at right 70%);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px ;
    word-spacing: 10px;
}
nav .logo{
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
  
}
nav ul li {
    display: inline-block;
    margin: 0 6px;

}
nav ul li a {
    color: #fff;
    font-size: 18px;
}
nav ul li :hover{
    color: rgb(255, 0, 0);
    transition: 0.1s;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}

.content .text {
    color: #fff;
    width: 40%;
}
.content .text h2 {
    font-size: 40px;
    margin-bottom: 80px;
    margin-left: -10px;
    margin-right: 4px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.btn {
      
      color: white;
        padding: 5px;
      margin: px;
      border: none;
      border-radius: 8px;
      font-size: 15px;
      cursor: pointer;
      transition: 0.3s;
      text-decoration: none;
      border-bottom: 2px red solid ;
    }
    .btn:hover {
     border-bottom: red 2[x solid];
     transition: 1s;
     background-color: rgba(255, 0, 0, 0.745);
    }
 p{
   
    position: absolute;
  bottom: 20px; /* المسافة من أسفل */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 16px;
  text-align: center;
  width: 90%;
  max-width: 600px;
  line-height: 8;
  font-size: 25px;
  font-weight: 1000;
    

}
.content .image{
    width: 33%;
}
.content .image img {
    width: 400px;
}
